<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Page</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">              
</head>
<body>
<div class="container">
	<div class="row">	
		<h1>User Profile</h1>
	</div>
	<br>
	<div class="row">	
		Logged in : <strong>{{ session.name }} </strong>| <a href="{{ url_for('logout') }}"> Logout</a>
	</div>
	<br><br>
		<h2>Welcome to the user profile page...</h2> 
        <div class="row">
            <!-- Button to upload CSV/Google Sheets -->
            <div class="col-12 col-md-6">
                <h3>Upload CSV/Google Sheets</h3>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="fileUpload" class="form-label">Choose File</label>
                        <input type="file" class="form-control" id="fileUpload" name="file" accept=".csv, .xlsx, .xls">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload CSV </button>
                </form>
                <a href="/connect_google" class="btn btn-success mt-3">Connect to Google Sheets</a>
            </div>
            <!-- Button to view dashboard -->
            <div class="col-12 col-md-6">
                <h3>View Dashboard</h3>
                <a href="/dashboard" class="btn btn-secondary">Go to Dashboard</a>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>	
</div>
</body>
</html>